// CONTENT WIDTHS
// $maxWidth: 1200px;

// $tablet_landscape: 940px;
// $tablet_portrait: 720px;
// $mobile_breakpoint: 767px;

// $mobile: 90%;

// // BREAKPOINTS
// @mixin media_call ($breakpoint) {
// 	@media all and (max-width : $breakpoint) {
// 		@content;
// 	}
// }

// @mixin breakpoint ($breakpoint) {
//   @if $breakpoint == tablet_landscape {
//     @include media_call ($maxWidth + ($gutter * 2)) {
// 		@content;
//     }
//   }
//   @else if $breakpoint == tablet_portrait {
//     @include media_call ($tablet_landscape + ($gutter_tablet * 2)) {
// 		@content;
//     }
//   }
//   @else {
//   	@include media_call ($mobile_breakpoint) {
// 		@content;
//     }	
//   }
// }


// @mixin main-width {
// 	width: $maxWidth;
// 	margin: 0 auto;

// 	@include breakpoint (tablet_landscape) {
// 		width: ($tablet_landscape - ($gutter_tablet * 2));	
// 	}

// 	@include breakpoint (tablet_portrait) {
// 		width: ($tablet_portrait - ($gutter_tablet * 2));
// 	}

// 	@include breakpoint (mobile) {
// 		width: $mobile;
// 	}

// }