//
// Icon Font: custom-icons
//

@font-face {
  font-family: "custom-icons";
  src: font-url("../../Fonts/icons/custom-icons_b67998bba9ae10eb6d64bb7b30cd9d88.eot");
  src: font-url("../../Fonts/icons/custom-icons_b67998bba9ae10eb6d64bb7b30cd9d88.eot?#iefix") format("embedded-opentype"),
       font-url("../../Fonts/icons/custom-icons_b67998bba9ae10eb6d64bb7b30cd9d88.woff") format("woff"),
       font-url("../../Fonts/icons/custom-icons_b67998bba9ae10eb6d64bb7b30cd9d88.ttf") format("truetype"),
       font-url("../../Fonts/icons/custom-icons_b67998bba9ae10eb6d64bb7b30cd9d88.svg#custom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "custom-icons";
    src: font-url("../../Fonts/icons/custom-icons_b67998bba9ae10eb6d64bb7b30cd9d88.svg#custom-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-email:before,
.icon-facebook:before,
.icon-rss:before,
.icon-share:before,
.icon-twitter:before,
.icon-youtube:before {
  display: inline-block;
  font-family: "custom-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-email:before { content: "\f104"; }
.icon-facebook:before { content: "\f105"; }
.icon-rss:before { content: "\f106"; }
.icon-share:before { content: "\f107"; }
.icon-twitter:before { content: "\f108"; }
.icon-youtube:before { content: "\f109"; }
