// FONT STYLING MIXINS
@mixin letter-spacing ($value) {
	letter-spacing: ($value / 1000)+em;
}

@mixin font-size ($value,$ratio:1) {
	font-size: $value * $ratio;
}

@mixin line-height ($value,$ratio:1) {
	line-height: $value * $ratio;
} 