/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 28, ../../sass/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, ../../sass/partials/_reset.scss */
body {
  line-height: 1; }

/* line 34, ../../sass/partials/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, ../../sass/partials/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 41, ../../sass/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, ../../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "icons";
  src: url("../../Fonts/icons/icons-ede419a75593024b84deb6e8bade7626.eot");
  src: url("../../Fonts/icons/icons-ede419a75593024b84deb6e8bade7626.eot?#iefix") format("embedded-opentype"), url("../../Fonts/icons/icons-ede419a75593024b84deb6e8bade7626.woff") format("woff"), url("../../Fonts/icons/icons-ede419a75593024b84deb6e8bade7626.ttf") format("truetype"), url("../../Fonts/icons/icons-ede419a75593024b84deb6e8bade7626.svg?#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 15, ../../sass/partials/_icons.scss */
.icon,
.ligature-icons {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 34, ../../sass/partials/_icons.scss */
.icon-email:before {
  content: "email"; }

/* line 39, ../../sass/partials/_icons.scss */
.icon-facebook:before {
  content: "facebook"; }

/* line 44, ../../sass/partials/_icons.scss */
.icon-linkedin:before {
  content: "linkedin"; }

/* line 49, ../../sass/partials/_icons.scss */
.icon-pinterest:before {
  content: "pinterest"; }

/* line 54, ../../sass/partials/_icons.scss */
.icon-pinterest_circle:before {
  content: "pinterest_circle"; }

/* line 59, ../../sass/partials/_icons.scss */
.icon-play:before {
  content: "play"; }

/* line 64, ../../sass/partials/_icons.scss */
.icon-rss:before {
  content: "rss"; }

/* line 69, ../../sass/partials/_icons.scss */
.icon-share:before {
  content: "share"; }

/* line 74, ../../sass/partials/_icons.scss */
.icon-slides:before {
  content: "slides"; }

/* line 79, ../../sass/partials/_icons.scss */
.icon-thumbs:before {
  content: "thumbs"; }

/* line 84, ../../sass/partials/_icons.scss */
.icon-twitter:before {
  content: "twitter"; }

/* line 89, ../../sass/partials/_icons.scss */
.icon-youtube:before {
  content: "youtube"; }

/* line 5, ../../sass/partials/_deviceTester.scss */
#mobileTester {
  display: none;
  visibility: hidden; }

/* line 10, ../../sass/partials/_deviceTester.scss */
#tabletTester {
  display: none;
  visibility: hidden; }

/* line 15, ../../sass/partials/_deviceTester.scss */
#legacyWarning {
  display: none; }

/* line 20, ../../sass/partials/_deviceTester.scss */
html.old body * {
  display: none; }
/* line 24, ../../sass/partials/_deviceTester.scss */
html.old #legacyWarning {
  display: block !important; }

@media all and (max-device-width: 650px) {
  /* line 34, ../../sass/partials/_deviceTester.scss */
  html.touch #mobileTester {
    display: none;
    visibility: visible; } }
@media all and (min-device-width: 651px) and (max-device-width: 1280px) {
  /* line 46, ../../sass/partials/_deviceTester.scss */
  html.touch #tabletTester {
    display: none;
    visibility: visible; } }
